.header {
    height: 80px;
    background-color: rgb(161, 228, 224);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 480px) {
    .header {
        justify-content: center;
    }
    .header nav {
        width: 90%;
    }
}