.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-family: 'Josefin Sans', sans-serif; */
}  

@media screen and (max-width: 974px) {
    .container {
    flex-wrap: wrap;
    justify-content: center;
   }
  
}