.mainBlock {
    height: 100vh;
    background-color: rgb(243, 180, 240);
}

.text {
    width: 300px;
    background-color: beige;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: beige;
}