.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  justify-content: flex-end;
}

@media (max-width: 480px) {
  .nav {
    width: 90%;
  }
  a {
    font-size: 22px;
  }
}
